# ─────────────────────────────────────────
# Data
# ─────────────────────────────────────────
data/raw/
data/prep/
*.csv
data/inference/
data/predictions/

# ─────────────────────────────────────────
# Artifacts (modelos entrenados y logs)
# ─────────────────────────────────────────
artifacts/*.pkl
artifacts/logs/

# ─────────────────────────────────────────
# Python
# ─────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ─────────────────────────────────────────
# Entornos virtuales
# ─────────────────────────────────────────
.venv/
venv/
env/
.env

# ─────────────────────────────────────────
# uv
# ─────────────────────────────────────────
.uv/

# ─────────────────────────────────────────
# Jupyter
# ─────────────────────────────────────────
.ipynb_checkpoints/
*.ipynb

# ─────────────────────────────────────────
# IDEs
# ─────────────────────────────────────────
.vscode/
.idea/
*.swp
*.swo

# ─────────────────────────────────────────
# OS
# ─────────────────────────────────────────
.DS_Store
Thumbs.db